<!DOCTYPE html>
<html lang='{{ .Params.LanguageCode | default $.Site.LanguageCode | default "en" }}'>
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary | truncate 200 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{- $normalize := resources.Get "normalize.css" -}}
    {{- $main := resources.Get "main.css" -}}
    {{- $styles := slice $normalize $main | resources.Concat "styles.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $styles.Permalink }}">
    <link rel=icon href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🍣</text></svg>'>
    {{- block "head" . }}{{ end -}}
</head>
<body>
<header>
    <a href="/blog" class='blog-title'>
       
        <h1>blog.</h1>
    </a>
    <nav>
        <a href="/blog/categories/">Categories</a>
        <!---<a href="/blog/">Blog</a>
        <a href="/bookmarks/">Bookmarks</a>--->
        <a href="/blog/about/">About</a>
    </nav>
</header>
<main>{{ block "main" . }}{{ end }}</main>
<footer>
    <small>&copy; Rachel Ombok 2021</small>
    <nav>
        <small><a href="https://github.com/rachelombok">Github</a>
        <a href="https://twitter.com/therachelplan">Twitter</a>
        <a href="https://rachelombok.com/">Main</a></small>
    </nav>
</footer>
{{- with $.Site.Params.cloudflareAnalytics -}}
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "{{ . }}"}'></script>
{{- end -}}
</body>
</html>